/frontend/linkedin/node_modules
/server/node_modules
/distributed_server/UserService/node_modules
/distributed_server/PostService/node_modules
/distributed_server/PostService/public
/distributed_server/NotificationService/node_modules